:root {
  --accent: #bf4e62; /* colour taken on her gspot website*/
  --accent-darker: #8a3847;
  --accent-lighter: #eb526e25;
}

/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: white;
  background-image: url(../img/gillian-anderson-cover-right.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  min-height: 40rem;
  text-align: center;
  padding-top: 45px;
}

header h3 {
  color: var(--accent);
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2.5em;
}

header h2 {
  color: #666;
  margin-bottom: 20px;
}

header a {
  display: inline-block;
  background: var(--accent);
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

header a:hover {
  background: var(--accent-darker);
}

/* Main content styles */

.container-why {
  margin: 25px 25px;
}

.long-portrait {
  width: 100%; /* Ensures the image takes full width of its container */
  height: auto; /* Maintains aspect ratio */
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  background-color: #0b0b0b; /*matching img colour*/
  color: white;
}

.grid-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 0 -7.5px;
}

.card {
  background: #f4f4f4;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  flex: 0 0 100%;
  transition: background-color 0.3s ease;
}

.img-responsive {
  width: 90%;
  margin-top: 25px;
  border-radius: 10px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.card-body {
  padding: 20px;
}

.card h4 {
  text-align: center;
  font-size: 1.25rem;
  margin: 20px 0;
}

.card p {
  color: #666;
}

.secondary {
  padding: 40px 20px;
}

.text-center {
  text-align: center;
}

/* media resizing */
@media (max-width: 768px) {
  .grid-2-columns {
    display: block;
    padding: 20px 20px;
  }

  .long-portrait {
    display: none;
  }
}
@media (min-width: 768px) {
  .card {
    flex: 0 0 calc(33.333% - 30px);
    margin-bottom: 15px;
  }

  .grid-3-columns {
    justify-content: space-between;
  }

  @media (min-width: 1024px) {
    .card:hover .img-responsive {
      filter: grayscale(0%);
    }

    .card:hover {
      background-color: var(--accent-lighter);
    }
  }

  @media (min-width: 1200px) {
    header {
      background-size: 70%;
      background-position: right top 20%;
    }
  }
}
